@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}



body {
  width: 100vw;
  height: 100svh;
  font-family: 'SF Pro Display', sans-serif;  
  /* IE and Edge */
   -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;   
  
}

#__next {
  width: 100%;
  height: 100%;
}


.deviceHeight {
  height: 100svh;
}

.fullBtnShadow {
  box-shadow: 0px 7px 10px 0px rgba(255, 255, 255, 0.10);
}

.bottomGradient {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.8) 45%,  rgba(0,0,0,0) 80%);
}

.lightBottomGradient {
  background: rgba(0,0,0,0.7);
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 4%,  rgba(0,0,0,0) 10%);
}

.lightBottomGradient {
  background: rgba(0,0,0,0.7);
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 4%,  rgba(0,0,0,0) 10%);
}

.highlightGradient {
  background: rgba(0,0,0,0.1);
  background: linear-gradient(180deg, rgba(53, 49, 49, 0.00) 49.48%, #585858 100%);
}

.scrollbar-hide {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}





@layer base{
  body {
        @apply dark:bg-gray-900 bg-white
    }
}

.clearButton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}


.footer {
  box-shadow: 0px -8px 16px 0px rgba(41, 41, 41, 0.05);
}

.swiper-slide {
  height: auto !important;
  display: flex !important;
}

.active-music-item {
  opacity: 0.4;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 1.32%, rgba(255, 255, 255, 0.51) 49.74%, rgba(255, 255, 255, 0.00) 100%);
  filter: blur(11px);
}

.swiper-pagination-bullet { opacity: 0.4 !important!  }